@tailwind base;
@tailwind components;
@tailwind utilities;

@import './font.styl'

body
	padding 0
	margin 0
	height 100vh
	background rgb(22,22,22)
	background -moz-linear-gradient(45deg, rgba(22,22,22,1) 0%, rgba(44,44,44,1) 100%)
	background -webkit-linear-gradient(45deg, rgba(22,22,22,1) 0%,rgba(44,44,44,1) 100%)
	background linear-gradient(45deg, rgba(22,22,22,1) 0%,rgba(44,44,44,1) 100%)

main
	& > section
		min-height 100vh
		color rgba(255, 255, 255, 0.5)

#splash
	display flex
	flex-direction column
	align-items center
	justify-content center

#projects
	position relative

	&::before
		content ''
		display block
		background red
		width 40px
		height 40px

	.pro-1
		.parallax
			background-attachment scroll
			background-image url(https://upload.wikimedia.org/wikipedia/commons/e/ec/Silego_clock_generator.JPG)
			background-size cover
			background-position 50% 50%

svg
	&.logo
		position absolute
		width 300px
		height 300px
		left 50%
		top 40%
		transform translate(-50%,-50%) rotate(5deg)
		&.rotate
			animation-name rotateLogo
			animation-duration .4s
			animation-timing-function cubic-bezier(0.58,-0.03, 0.15, 1.21)
			animation-delay .6s
			animation-fill-mode forwards

@keyframes rotateLogo
	0%
		transform: translate(-50%,-50%) rotate(5deg)
	100%
		transform: translate(-50%,-50%) rotate(0deg)

h1
	font-size 32px

