doctype html
head
  meta(charset='utf-8')
  title LiTl31 : Automation Engineering
  meta(name='description' content='Automation Engineering - Consulting, Planning, Execution, Support')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.css')
  script(src='js/vendor.js', defer)
  script(src='js/main.js', defer)
body
  main
    section#splash
        svg.logo
        h1.text-yellow-500 LitTl31
    section#intro.p-8.text-center
      span.text-yellow-500.text-xl Hellooo World
    section#projects
      section.pro-1
        .parallax
        .content
    footer.container.mx-auto.py-8.px-4.text-white
      .max-w-screen-lg.mx-auto.flex.flex-col
        .flex.items-center.w-full
          div(class='w-1/3')
          div(class='w-1/3')
            img.mx-auto.w-24(src='assets/images/logo.svg')
          div.text-right(class='w-1/3')
            a.text-5xl.font-bold.text-yellow-500 Contact
        p.text-center.text-sm.mt-8.px-8.
          If you’ve gotten this far, you may as well keep reading. At Littl3.1 and Bad Idea Engineering we stand behind our engineering and we stand behind our community. For this reason, self deprecation and anti-advertizing are integral part of elaborate and delicate ploy to deter an entire generation of individuals who  feel entitled to lives they don’t want to work for.
