doctype html
head
  meta(charset='utf-8')
  title LiTl31 : Automation Engineering
  meta(name='description' content='Automation Engineering - Consulting, Planning, Execution, Support')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/style.css')
  script(src='js/vendor.js', defer)
  script(src='js/main.js', defer)
body
  main
    section#splash
        svg.logo
        h1 LitTl31
    section#intro.p-8.text-center
      span.text-yellow-500 helloooo
    section#projects
      section.pro-1
        .parallax
        .content
    footer.container.mx-auto.text-yellow-500
      .container.mx-auto.flex.flex-col
        .flex.items-center
          .col-4
          .col-4
            svg
          .col-4
            a.text-yellow-500 Contact
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, voluptas magnam? Quae beatae blanditiis qui ut tempore, magni nam, dolor voluptatem nesciunt unde at aliquam ducimus quaerat voluptatum eaque nihil?
